html
  head
    title='A Cloud Guru'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Cloud Guru!!! You've successfully deployed a Docker Container to Azure App Services!! You're AWESOME!!
